body {
    background-color: #5dafe6;
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(97, 135, 158);
    border-radius: 12px;
}

.form-box .cr {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.form-box form {
    height: 400px;
    width: 360px;
    padding: 0 60px 15px 50px;

}

.input-main input {
    border: 1px solid rgb(242, 171, 171);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 360px;

}

.input-main label {
    font-weight: 500;
    font-size: 18px;
}



.sub {
    margin-top: 30px;
    height: 50px;
    width: 380px;
    align-content: center;
    background-color: #9fbeec;
    text-align: center;
    color: rgb(97, 123, 145);
    border-radius: 5px;
    cursor: pointer;
}

.ll {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 25px;
}

.ll span {
    cursor: pointer;
    color: rgb(142, 142, 237);
}